@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Graduate|Julius+Sans+One|Orbitron&display=swap');

#subscriptionPlan{
    text-align: center;
}

#quotaUpgrade{
    border: 1px solid #000000;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
}

.quotaUpgradeHeader{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Orbitron', sans-serif;
    color: #000000;
    text-shadow: 3px 1px #fadb14;
    text-align: center;
}

.quotaUpgradeSubHead{
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
}

.quotaUpgradeContent{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
}